.main-footer{
  @media screen and (min-width:768px) {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
   
 @media screen and (min-width:1200px) {
flex-wrap: nowrap;
  align-items: baseline;
  }
  
}
.contact-footer{
  @include tel {
    display: block;
    text-align: center;
    

  }
  background: #2F303A;
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  
  
}
.contact-link{
  color: var(--second-color);
  
}

.footer-contact{
   margin-top: 20px;
   @include tel{
    margin-bottom: 60px;
    margin-top: 20px;
  }
  @media screen and (max-width:1199px) {
     margin-bottom: 60px;
    margin-top: 20px;
  }
 
 
}
.footer-contact__item{
  
  &:hover, &:focus{
    .link{
      color: var( --accent-color );
    }
  }
}

.footer-left{

  text-decoration: none;
  @include tab {
 margin-left: auto;
 text-align: center;
  }
  @include desk{
 margin-right: 60px;
  }
 
  
}
.logo-footer{
  @include tel {

     
  
  @include desk {
display: flex;
  padding: 0;
  margin-bottom: 20px;
  text-decoration: none;
  margin-right: 93px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-family: var( --font-second );
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  &__start{color: var( --accent-color );}
  &__end{color: var( --other-color );}
  }
  
}
text-decoration: none;
  font-family: Raleway;
font-style: normal;
  font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.03em;
  &__start{color: var( --accent-color );}
  &__end{color: var( --other-color );}
  
  }
/*
.logo-footer__start{
 color: var( --accent-color );
}

.logo-footer__end{
   color: var( --other-color );
}
*/
.web-studio-color-studio-footer{
  color: var( --other-color );
  
}
.footer-contact__maps{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: var( --other-color );
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  .maps-item{
    
    margin-bottom: 9px;
    
  }
  .mail-item{
    margin-bottom: 9px;

  }
.footer-contact__mail,
.footer-contact__tel{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .footer-center{
    @include tab {
      margin: 0 auto;
      text-align: center;
    }
  }
  .footer-center-title{
    color: var( --other-color );
    font-weight: bold;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
  }
  .footer-social {
    @include tel {
      margin-bottom: 60px;
    }
  @extend %flex;
  }
  .footer-social__item + .footer-social__item{
   margin-left: 10px;
  }
  .footer-social__link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    @extend %flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social__icon{
    fill: #F5F4FA;
    
  }

   .footer-social__link{
     &:hover, &:focus{
       background-color:var( --accent-color ) ;
     }
   }


 
  .footer-right{
    @include tab {
  margin: 0 auto;
    text-align: center;
    }
  
    @include desk {
 margin-left: 70px;
    }
   
    
  }

  .footer-form-field{
    
    @include desk {
position: relative;
    display: flex;
    }
    
    
  }

  .footer-right__title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var( --other-color );
  }


  .footer-form-field input{
    padding: 16px;
    letter-spacing: 0.03em;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    @include tab {
      margin-bottom: 20px;
    }
  }

  .footer-input-email{
    @include tab {
      max-width: 450px;
      width: 100vmin;
      
    }
    @media screen and (max-width: 479px) {
      width: 90vmin;
    }
    @include desk {
      width: 358px;
    }
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
      }


  .footer-label-email{
    @include tel {

    }
    @include desk {
      position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    }
    

  }

  .button-footer-form{
    @include tel {
    margin: 20px auto ;
     
    }
    @include tab {
      margin: 0 auto
    }
    @extend %flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: var( --accent-color );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .footer-button-text{
  
    
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 2.14;
    color: var( --other-color );
  }
