.hero{
  background: var( --other-color );
  padding-bottom: 94px;
  padding-top: 94px;
}
.hero-list{
  
  @include desk {
  display: flex;
  align-items: center;
 }
}

.title{
  @include tel {
    text-align: center;
    margin-bottom: 10px;

  }
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  
}

.title__content{
  @include tel {
    
    margin-bottom: 30px;

  }
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
  letter-spacing: 0.03em;
  
}
.hero-list__container{
  
  @extend %flex;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  
}

.hero-list__item{
  @include desk {
margin-right: 30px;
  min-width: 270px;
  }
  
}