.hero{
  background: var( --other-color );
  padding-bottom: 94px;
  padding-top: 94px;
  @include tab {
    padding: 60px 0;
  }
}
.hero-list{
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @include tab {
  margin: 0 15px;
  margin-bottom: -15px;
 }
@include tab {
  flex-wrap: wrap;
}
  @include desk {

  align-items: center;
 }
}

.title{
  @include tel {
    text-align: center;
    margin-bottom: 10px;

  }
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  
}

.title__content{
 
  @include tel {
    
    margin-bottom: 30px;

  }
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
  letter-spacing: 0.03em;
  
}
.hero-list__container{
  
  @extend %flex;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  
}

.hero-list__item{
  @media screen and (min-width: 768px) {
   
 
   width: calc((100% - 2 * 30px) / 2);
 margin: 15px;
}
 }
  @include desk {
margin-right: 30px;
  min-width: 270px;
  }
  
