.header__logo{
  @include tab{
    
    font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.03em;
  }
  text-decoration: none;
  margin-right: auto;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-family: var( --font-second );
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
   @media screen and (max-width:767px) {
     
     left: 15px;
    

  }
}

.header__logo--start{
  color: var( --accent-color );
  
}
.header__logo--end{
  color: #000;
}
