img{
  

  @include desk {
    display: block;
  }
  
}
.team{
    background: #F5F4FA;
    text-align: center;
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
    @include tab {
      padding: 60px 0;
    }
  }
  .team-list{
    margin-bottom: -15px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @include tab {
flex-wrap: wrap;

    }

  }

  .team-list__item:not(:last-child){
    @include tel {
      margin-bottom: 30px;
    }
    
    @include desk {
margin-right:30px;
    }
  
  
}
  .team-list__item{
    
 @include tab {
      
    
    flex-basis: calc((100% - 2 * 30px) / 2);
    
    
margin: 15px;
  
    }
    background: var( --other-color );
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

  .team-container{
    padding: 30px 0 30px 0;
  }
  .team__title{
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    margin-left: auto;  
    margin-right: auto; 
    margin-bottom: 50px;
    
  }
  
.team-container__subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-container__functions{
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
  margin-bottom: 16px;
}

.social-list{
  @extend %flex;
}
.social-list__link{
  width: 44px;
  height: 44px;
  background-color: var( --other-color );
  border-radius: 50%;
  @extend %flex;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus{
    background-color: var( --accent-color );
    .social-list__icon{
      fill: var( --other-color );
    }
  }
}
.social-list__item + .social-list__item{
  margin-left: 10px;
}
.social-list__icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
